*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.box{
  margin: 50px auto;
  width: 300px;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
}
img{
  width: 100%;
  height: auto;
  transition: all 0.5s;
}
.box:hover img{
  transform: scale(0);
}
.box .content{
  background: #000;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  transition: all 0.5s;
  transform: scale(0) rotate(-180deg);
  opacity: 0;
}
.box:hover .content{
  opacity: 1;
  transform: scale(1) rotate(0deg);
  transition-delay: 0.2s;
}
